---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-thin.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-thinitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-extralight.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-extralightitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-extralightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-light.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-lightitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-semibold.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-semibolditalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-heavy.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-heavyitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-heavyitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Tchig Mono';
  src: url('https://assets.accessibility.rocks/tchigmono-regular.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/tchigmono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tchig Mono';
  src: url('https://assets.accessibility.rocks/tchigmono-bold.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/tchigmono-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


// Our variables
$base-font-family: 'Ulises', sans-serif;
$heading-font-family: 'Ulises', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #164C8B;

$grey-color:       #666;
$grey-color-light: #777;
$grey-color-dark:  #555;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
