---
layout: default
---

<div class="home">

  <h1>Lectures</h1>

  <table class="lectures">
    <caption><h2>#cos19</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
        <th scope="col">EH</th>
        <th scope="col">Slides</th>
        <th scope="col">Video</th>
        <th scope="col">Test</th>
      </tr>
    </thead>
    <tbody>
    {% assign idx = 0 %}
    {% assign dates = site.cos19 | sort: "date" %}
    {% for post in dates %}
    {% unless post.type == 'chat' %}{% assign idx = idx | plus: '1' %}{% endunless %}
      <tr>
        <td>{% unless post.type == 'chat' %}{{ idx }}{% endunless %}</td>
        <td class="date">
          {{ post.date | date: "%a" }}
        </td>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          {% unless post.type == 'chat' %}
          {% unless post.type == 'tbd' %}<a href="{{ post.url | prepend: site.baseurl }}">{% endunless %}
            {{ post.title }}
          {% unless post.type == 'tbd' %}</a>{% endunless %}
          {% if post.etivity %}
            <span class="condensed">(w/ e-tivity: {{post.etivity}})</span>
          {% endif %}
          {% else %}
          {{ post.title }} (Slack Chat Session)
          {% endunless %}
        </th>
        <td class="eh">
          {{post.eh}} EH
        </td>
        <td>
          {% if post.slidescom %}<a target="_blank" href="{{ post.slidescom }}">Slides</a>{% endif %}
          {% if post.slides %}<a target="_blank" href="{{ post.slides | prepend: "/cos-presentations/" | prepend: site.baseurl | append: ".html" }}">Slides</a>{% endif %}
        </td>
        <td>
          {% if post.video %}
            <a href="https://www.youtube.com/watch?v={{post.video}}" aria-label="Open YouTube video page" title="Open YouTube video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_link %}
            <a href="{{post.video_link}}" aria-label="Open video page" title="Open video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_inline %}
            <a href="{{ post.url | prepend: site.baseurl }}#video" aria-label="Go to video" title="Open video page"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
        </td>
        <td>
          {% if post.test_link %}
            <a href="{{post.test_link}}" aria-label="Open test page" title="Open test page" target="_blank"><svg class="icon-edit icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-edit"></use></svg></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="lectures">
    <caption><h2>#cos18</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
        <th scope="col">EH</th>
        <th scope="col">Slides</th>
        <th scope="col">Video</th>
        <th scope="col">Test</th>
      </tr>
    </thead>
    <tbody>
    {% assign idx = 0 %}
    {% assign dates = site.cos18 | sort: "date" %}
    {% for post in dates %}
    {% unless post.type == 'chat' %}{% assign idx = idx | plus: '1' %}{% endunless %}
      <tr>
        <td>{% unless post.type == 'chat' %}{{ idx }}{% endunless %}</td>
        <td class="date">
          {{ post.date | date: "%a" }}
        </td>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          {% unless post.type == 'chat' %}
          {% unless post.type == 'tbd' %}<a href="{{ post.url | prepend: site.baseurl }}">{% endunless %}
            {{ post.title }}
          {% unless post.type == 'tbd' %}</a>{% endunless %}
          {% if post.etivity %}
            <span class="condensed">(w/ e-tivity: {{post.etivity}})</span>
          {% endif %}
          {% else %}
          {{ post.title }} (Slack Chat Session)
          {% endunless %}
        </th>
        <td class="eh">
          {{post.eh}} EH
        </td>
        <td>
          {% if post.slidescom %}<a target="_blank" href="{{ post.slidescom }}">Slides</a>{% endif %}
          {% if post.slides %}<a target="_blank" href="{{ post.slides | prepend: "/cos-presentations/" | prepend: site.baseurl | append: ".html" }}">Slides</a>{% endif %}
        </td>
        <td>
          {% if post.video %}
            <a href="https://www.youtube.com/watch?v={{post.video}}" aria-label="Open YouTube video page" title="Open YouTube video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_link %}
            <a href="{{post.video_link}}" aria-label="Open video page" title="Open video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_inline %}
            <a href="{{ post.url | prepend: site.baseurl }}#video" aria-label="Go to video" title="Open video page"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
        </td>
        <td>
          {% if post.test_link %}
            <a href="{{post.test_link}}" aria-label="Open test page" title="Open test page" target="_blank"><svg class="icon-edit icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-edit"></use></svg></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="lectures">
    <caption><h2>#cos17</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
        <th scope="col">EH</th>
        <th scope="col">Slides</th>
        <th scope="col">Video</th>
        <th scope="col">Test</th>
      </tr>
    </thead>
    <tbody>
    {% assign idx = 0 %}
    {% assign dates = site.cos17 | sort: "date" %}
    {% for post in dates %}
    {% unless post.type == 'chat' %}{% assign idx = idx | plus: '1' %}{% endunless %}
      <tr>
        <td>{% unless post.type == 'chat' %}{{ idx }}{% endunless %}</td>
        <td class="date">
          {{ post.date | date: "%a" }}
        </td>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          {% unless post.type == 'chat' %}
          {% unless post.type == 'tbd' %}<a href="{{ post.url | prepend: site.baseurl }}">{% endunless %}
            {{ post.title }}
          {% unless post.type == 'tbd' %}</a>{% endunless %}
          {% if post.etivity %}
            <span class="condensed">(w/ e-tivity: {{post.etivity}})</span>
          {% endif %}
          {% else %}
          {{ post.title }} (Slack Chat Session)
          {% endunless %}
        </th>
        <td class="eh">
          {{post.eh}} EH
        </td>
        <td>
          {% if post.slidescom %}<a target="_blank" href="{{ post.slidescom }}">Slides</a>{% endif %}
          {% if post.slides %}<a target="_blank" href="{{ post.slides | prepend: "/cos-presentations/" | prepend: site.baseurl | append: ".html" }}">Slides</a>{% endif %}
        </td>
        <td>
          {% if post.video %}
            <a href="https://www.youtube.com/watch?v={{post.video}}" aria-label="Open YouTube video page" title="Open YouTube video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_link %}
            <a href="{{post.video_link}}" aria-label="Open video page" title="Open video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_inline %}
            <a href="{{ post.url | prepend: site.baseurl }}#video" aria-label="Go to video" title="Open video page"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
        </td>
        <td>
          {% if post.test_link %}
            <a href="{{post.test_link}}" aria-label="Open test page" title="Open test page" target="_blank"><svg class="icon-edit icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-edit"></use></svg></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="lectures">
    <caption><h2>#cos16</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
        <th scope="col">EH</th>
        <th scope="col">Slides</th>
        <th scope="col">Video</th>
        <th scope="col">Test</th>
      </tr>
    </thead>
    <tbody>
    {% assign idx = 0 %}
    {% assign dates = site.cos16 | sort: "date" %}
    {% for post in dates %}
    {% unless post.type == 'chat' %}{% assign idx = idx | plus: '1' %}{% endunless %}
      <tr>
        <td>{% unless post.type == 'chat' %}{{ idx }}{% endunless %}</td>
        <td class="date">
          {{ post.date | date: "%a" }}
        </td>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          {% unless post.type == 'chat' %}
          {% unless post.type == 'tbd' %}<a href="{{ post.url | prepend: site.baseurl }}">{% endunless %}
            {{ post.title }}
          {% unless post.type == 'tbd' %}</a>{% endunless %}
          {% if post.etivity %}
            <span class="condensed">(w/ e-tivity: {{post.etivity}})</span>
          {% endif %}
          {% else %}
          {{ post.title }} (Slack Chat Session)
          {% endunless %}
        </th>
        <td class="eh">
          {{post.eh}} EH
        </td>
        <td>
          {% if post.slidescom %}<a target="_blank" href="{{ post.slidescom }}">Slides</a>{% endif %}
          {% if post.slides %}<a target="_blank" href="{{ post.slides | prepend: "/cos-presentations/" | prepend: site.baseurl | append: ".html" }}">Slides</a>{% endif %}
        </td>
        <td>
          {% if post.video %}
            <a href="https://www.youtube.com/watch?v={{post.video}}" aria-label="Open YouTube video page" title="Open YouTube video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_link %}
            <a href="{{post.video_link}}" aria-label="Open video page" title="Open video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
          {% if post.video_inline %}
            <a href="{{ post.url | prepend: site.baseurl }}#video" aria-label="Go to video" title="Open video page"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
        </td>
        <td>
          {% if post.test_link %}
            <a href="{{post.test_link}}" aria-label="Open test page" title="Open test page" target="_blank"><svg class="icon-edit icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-edit"></use></svg></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="lectures">
    <caption><h2>#cos15</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
        <th scope="col">EH</th>
        <th scope="col">Video</th>
      </tr>
    </thead>
    <tbody>
    {% assign idx = 0 %}
    {% assign dates = site.cos15 | sort: "date" %}
    {% for post in dates %}
    {% unless post.type == 'chat' %}{% assign idx = idx | plus: '1' %}{% endunless %}
      <tr>
        <td>{% unless post.type == 'chat' %}{{ idx }}{% endunless %}</td>
        <td class="date">
          {{ post.date | date: "%a" }}
        </td>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          {% unless post.type == 'chat' %}
          {% unless post.type == 'tbd' %}<a href="{{ post.url | prepend: site.baseurl }}">{% endunless %}
            {{ post.title }}
          {% unless post.type == 'tbd' %}</a>{% endunless %}
          {% if post.etivity %}
            <span class="condensed">(w/ e-tivity: {{post.etivity}})</span>
          {% endif %}
          {% else %}
          {{ post.title }} (Slack Chat Session)
          {% endunless %}
        </th>
        <td class="eh">
          {{post.eh}} EH
        </td>
        <td>
          {% if post.video %}
            <a href="https://www.youtube.com/watch?v={{post.video}}" aria-label="Open YouTube video page" title="Open YouTube video page" target="_blank"><svg class="icon-youtube-play icon"><use xlink:href="{{ "/sprite.svg" | prepend: site.baseurl }}#icon-youtube-play"></use></svg></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <table class="lectures">
    <caption><h2>#cos14</h2></caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Lecture</th>
      </tr>
    </thead>
    <tbody>
    {% assign dates = site.cos14 | sort: "date" %}
    {% for post in dates %}
      <tr>
        <td>{{forloop.index}}</td>
        <td>
          {{ post.date | date: "%a" }}
        </td>
        <td>
          {{ post.date | date: "%Y-%m-%d %R" }}
        </td>
        <th scope="row">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </th>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


</div>
